* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, 	#48D1CC, #00FA9A);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.container:hover {
  transform: scale(1.01);
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

textarea {
  width: 100%;
  height: 180px;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  resize: none;
  outline: none;
  transition: border 0.3s;
}

textarea:focus {
  border-color: #66CDAA;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #20B2AA;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #48D1CC;
}


.result {
  margin-top: 25px;
  background: #f4f6ff;
  padding: 15px;
  border-radius: 10px;
  border-left: 6px solid #2e8bfa;
}

.result h3 {
  margin-bottom: 10px;
  color: #222;
}

.result p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 0.85rem;
  opacity: 0.8;
}
